attrs==19.3.0
certifi==2020.6.20
cycler==0.10.0
imageio==2.9.0
iniconfig==1.0.1
kiwisolver==1.2.0
matplotlib==3.3.1
mkl-fft==1.0.6
mkl-random==1.0.1.1
mkl-service==2.3.0
more-itertools==8.4.0
numpy==1.19.1
olefile==0.46
packaging==20.4
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
pytest-lazy-fixture==0.6.3
python-dateutil==2.8.1
sip==4.19.13
six==1.15.0
tabulate==0.8.7
toml==0.10.1
tornado==6.0.4
-e git+https://github.com/tim-oh/slum_detector.git@cdd280b92b4ca62431a2ce9360b8bce43833e230#egg=slum_detector

